@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Serif", sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 35pt;
    margin: 8%;
}

#headline {
    color: #ffffff;
    position: absolute;
    margin-top: -23vh;
    margin-left: 44vh;
}

#background {
    object-fit: cover;
    height: 35vh;
    width: 194vh;
}

a, strong, em {
    color: #0099ff;
}

.burgers {
    border: 2px solid #ff9900;
}

table {
    width: 20%;
}

#allergi {
    font-weight: bold;
}

.personuppgifter {
    color: #ffffff;
    background-color: black;
    padding: 30px;
    border: 2px solid #ff9900;
}

button {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

button:hover {
    background-color: #ffcc66;
}

.wrapper {
     display: grid;
     grid-gap: 0;
     grid-column-gap: 0;
     grid-template-columns: 360px 360px 360px;
     background-color: #ffffff;
     color: #000000;
     margin-left: 13vh;
 }

 .box {
     background-color: #ffffff;
     color: #000000;
     border-radius: 0;
     padding: 0;
     font-size: 100%;
 }

 .a {
     grid-column: 1;
     grid-row: 1;
 }
 .b {
     grid-column: 2;
     grid-row: 1;
 }
 .c {
     grid-column: 3;
     grid-row: 1;
 }
 .b1 {
     grid-column: 1 ;
     grid-row: 2 ;
 }
 .b2 {
     grid-column: 2 ;
     grid-row: 2 ;
 }
 .b3 {
     grid-column: 3 ;
     grid-row: 2 ;
 }
 .desc1 {
     grid-column: 1 ;
     grid-row: 3;
 }
 .desc2 {
     grid-column: 2;
     grid-row: 3;
 }
 .desc3 {
     grid-column: 3;
     grid-row: 3;
 }
